div#biography {
   display: flex;
   flex-direction: column;
   align-items: center;

}
div#biography h1#michael-jackson-title {
   font-size: 80px;
   font-family: 'Bebas Neue', cursive;
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: 30;
}

div#biography h2#biography-title {
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

