div#biography {
   display: flex;
   flex-direction: column;
   align-items: center;

}
div#biography h1#michael-jackson-title {
   font-size: 90px;
   font-family: 'Bebas Neue', cursive;
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-top: 0;
}

div#biography h1#michael-jackson-title img.title-imgs {
   height: 80px;
   padding: 0 30px;
}

div#biography h2#biography-title {
   background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 40px;
   padding-top: 30px;
}

